body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;

    

}
.boxs{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,250px);
   
}
.box{
     border: 1px solid rgb(183, 183, 236);
}
section{
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 30px;
}
section .main2 {
width: 20%;
position: relative;

}
section .main1{
    width: 80%;
    padding: 20px;
}
.boxs .box img{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.boxs .box .spans{
    display: flex;
   justify-content: space-between;
   align-items: center;
}
.single{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.btn-warning{
    width: 200px;
    background-color: #8f6e5a;
    color: white;
}.btn-warning:hover{
    color: black;
    background-color: #b89984;
}
.single .boxs{
    display: flex;
    gap: 200px;
   align-items: center;
    padding: 18px;
    font-size: 16px;
}
.single .boxs .imgs .asosiy{
    width: 630px;
    height: 360px;
    border-radius: 5px;
}
.single .boxs .imgs .imgss{
    display: flex;
    gap: 10px;
    
}
.single .boxs .imgs .imgss img{
    height: 115px;
    width: 115px;
    border-radius: 3px;

}.single .boxs .imgs .imgss img:hover{
border: 2px solid rgb(255, 145, 0);
}
.starsP{
    display: flex;
    gap: 15px;
}
.stars{
    color: gold;
}
.priceP{
    color: rgb(139, 111, 40);
    font-weight: 600;
    font-size: 22px;
}
.title{
    font-size: 25px;
    font-weight: 600;
}
.titleSp{
    font-size: 45px;
    font-weight: 700;
}

.categoryTy{
    color: rgb(146, 143, 143);
 text-decoration: none;
}
.categoryTy:hover{
   text-decoration: underline;
}
.searchProduct{
    background-color: #f1f5f8;
    padding-left: 10px;
    border-radius: 3px;
    border: none;
}
.mb-5{

}